@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4.88px white;
  }
}

.hexa {
  display: inline-block;
  filter: url('#goo');
  color: #1C465C;
  width: 65%;
  position: absolute;
}

.hexa::before {
  content: "";
  display: block;
  background: currentColor;
  padding-top: 86.6%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexb {
    display: inline-block;
    filter: url('#goo');
    color: #527182;
    width: 65%;
    position: absolute;
}
  
  .hexb::before {
    content: "";
    display: block;
    background: currentColor;
    padding-top: 86.6%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}